.time-range-slider {
  position: relative;
  width: 100%;
  /* margin: 0 auto; */
  border: 2px solid gray;
  padding: 3rem;
  margin-bottom: 1rem;
  border-radius: 7px;
}
.time-range-slider.dark {
  position: relative;
  width: 100%;
  /* margin: 0 auto; */
  border: 2px solid gray;
  padding: 3rem;
  margin-bottom: 1rem;
  border-radius: 7px;
}
.time-range-slider:hover {
  position: relative;
  width: 100%;
  /* margin: 0 auto; */
  border: 2px solid black;
  padding: 3rem;
  margin-bottom: 1rem;
  border-radius: 7px;
}
.time-range-slider.dark:hover {
  position: relative;
  width: 100%;
  /* margin: 0 auto; */
  border: 2px solid white;
  padding: 3rem;
  margin-bottom: 1rem;
  border-radius: 7px;
}
.time-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.time-standard-container {
}
.selected-time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.standard-container {
}
.standard-fullform {
}
.date-standard-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
.selected-time {
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}
.selected-time.dark {
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.track {
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  position: relative;
}

.marks {
  position: relative;
  width: 100%;
  margin-top: 20px;
  font-weight: bold;
}

.mark {
  position: absolute;
  transform: translateX(-50%);
  font-size: 12px;
  color: #333;
}

.react-slider-thumb {
  height: 20px;
  width: 20px;
  background: #007bff;
  cursor: pointer;
}

.thumb {
  height: 20px;
  width: 20px;
  background: #007bff;
  cursor: pointer;
  border-radius: 2px;
  position: relative;
  top: -6px;
}

.time-range-slider.dark {
  background-color: #1e1e1e;
  color: #ffffff;
}

.time-range-slider.dark .time-searchbar-container input {
  background-color: #2b2b2b;
  color: #ffffff;
}

.mark.dark {
  color: white;
}
